body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
   
}

.container {
    width: 40%;
    margin: 50px auto;

    padding: 25px;
    border-radius: 5px;
  
    
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

.input-field {
    margin-bottom: 10px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input {
    min-width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    margin: 10px;
}

button:hover {
    background-color: #3E8E41;
}
#container {
    width: 600px;
    height: 500px;
    border: 2px solid black;
    margin: auto ;
    overflow-y: auto; 

   
}

p{
    padding: 15px;
    margin: 0;
}

#message-form {
    display: flex;
}
#message-form #message-input {
min-width: 85%;
  }
#full-sec {
    display: flex;
    justify-content: space-evenly;

}
#group-container {
    width: 250px;
    height: 500px;
    border: 2px solid black;
}

#send-button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;

}
#group-container p {
    cursor: pointer;
  }

  #user-selection-modal{
    border: 2px solid black;
  }

  #file-upload{
    width: 50px;
  }